
/*Start Edite  Bootstrap */

.navbar{
	border-radius: 0px;
}
/*End Edite  Bootstrap */

.footer{
	background-color: #333;
	color: #eee;
	padding: 20px;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	margin-top: 10px;
}
body{
	height: 10000px;
	background-color: #eee;
}
.navbar-nav>li{
	margin: 5px;
}



/*Start singlePage  Bootstrap */
.photo img{
	margin-top :20px;
}

.photo{
	background-color: #fff;
	max-width: 1140px;
	margin-left: 1px;
}
.author-info h4{
	margin: 12px 0 10px 0;
	font-weight: bold;
	color: #676767;
	font-size: 26px;
}
.author-info h4 .nickname{
	color: #1068a0;
}


.author-info p{
	font-size: 17px;
	line-height: 1.2;
	color: #777;
}
/*End singlePage  Bootstrap */

/*start   posts  style*/
.main-post{
	background-color: #fff;
	padding: 15px;
	border: 1px solid #d8d8d8;
	margin-bottom: 10px;
}
.main-post h3{
	margin: 0 0 10px 2px;
	font-weight: bold;
	color: #777;
	letter-spacing: -1 px;
}

.main-post  .post-author,
.main-post  .post-date,
.main-post  .post-comments{
	font-size: 12px;
}
.main-post span{
	margin: 0 0 30px 4px;
}

.main-post img{
	display: block;
	margin: 20px 0 1px 0px;
}
.main-post .main-content{
	line-height: 1.7;
	color: #888;
}
.post-pagination a:first-of-type,

{
		margin-right: 10px 0 0 10px;
}
.post-pagination a , 
.post-pagination span{
	display: inline-block;
	padding: 10px 20px;
	background-color: #fff;
	margin: 10px;
}
.post-pagination span{
	opacity: .5;
	cursor: not-allowed;
}
.post-pagination .previous-span{
		margin-right: 10px;
}
.post-pagination .next-span{
		margin-left: 10px;
}
.main-post  .single-post{

}
/*end   posts  style*/
/*start  single posts  style*/
.single-post{
	position: relative;

}
.single-post .post-edit-link{
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
	background-color: #eee;
	border-radius: 0 0 0 10px;


}
.single-post .post-edit-link i{
	color: #337ab7;
	margin-left: 5px;
	

}
/*end  single posts  style */


/*Start  Comments  List*/
	.comments-list ul,
	.comments-list ol {
		list-style: none;
		margin: 0;
		padding: 0;
	}



	.comments-count{
		padding: 20px;
		background-color: #e2e2e2;
		font-size: 24px;
		margin-top: 0;
		font-weight: bold;
		color: #909090;
		border: 1px solid #dedede;

	}
	.comments-list  .comment img{
		padding: 3px;
		border: 1px solid #ccc;
		background-color: #fff;
		margin-bottom: 5px;
		margin-right:5px;
	}
	.comments-list  .comment meta{
		font-size: 12px;
		color: #777;
	}
	.comments-list  .comment p{
		 margin-top: 8px;
		 color: #777;
	}
	.comments-list > .comment {
		
		background-color: #fff;
		padding: 10px;
		border-radius:  1 px solid #ddd;
		margin-bottom: 15px;
	
	}
	.comments-list > .comment > .children > .comment{
		padding: 10px;
		background-color: #eee;
		margin-top: 10px;
		border-radius:  1 px solid #ccc;
		margin-left: 10px;
	}
	.comments-list > .comment > .children > .comment .comment{
		padding: 10px;
		background-color: #ddd;
		margin-top: 10px;
		border-radius:  1 px solid #aaa;
		margin-left: 20px;

	}
/*end  Comments  List*/

/*strat  Author  page*/
	.author-page .profile-header{
		font-size: 60px;
		margin: 30px 0;
		color: #666;
		font-weight: bold;
		letter-spacing: -3px;
	}
	.author-page .author-main-info {
		background-color: #fff;
		padding: 20px;
		font-size: 18px;
		border:1px solid #dedede;
		margin-bottom: 20px;
	}
	.author-main-info p{
		color: #777;
		line-height: 1.6;
		letter-spacing: 1px;
	}

	.author-page  .status {
		background-color: #fff;
		padding: 20px;
		font-size: 14px;
		border: 1px solid #dedede;
		margin-bottom: 20px;
		text-align: center;
	}
	.author-page .status span {
		display: block;
		padding: 20px;
		font-size: 50px;
		margin-top: 10px;
	}
/*end   Author  page*/
